@import url('https://fonts.googleapis.com/css?family=Cuprum');

body{
  align-items: center;
  align-self: center;
  background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2, p{
  font-family: 'Cuprum';
  color: white;
}
@media(max-width: 640px) {
  h1,h2, p {
    font-size: 1.2em;
  }
}

.container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}
@media(min-width: 1367px) {
  .container {
    width: 90%;  
  }
}
@media(max-width: 1024px) {
  .container {
    width: 95%;  
  }
}
@media(max-width: 640px) {
  .container {
    width: 95%;  
  }
}

.card{
  background-color: rebeccapurple;
  box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: center;  
  align-self: center;
  align-items: center; 
}

.card:hover{
  box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 15%; 
  background-color: white;  
}
@media(max-width: 640px) {
  .sociallinks {
    width: 80px;
    height: 80px;
  }
}

.techstack{
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 15%;
  background-color: white;
  align-self: center;
  align-items: center;
}
@media(max-width: 640px) {
  .techstack {
    width: 70px;
    height: 70px;
  }
}

.stacksection, div#projects{
  align-self: center;
  align-items: center;
}

div#welcome-section{
  top: 0;
  min-height: 80vh;
  padding-top: 45vh;
  align-items: center;
  text-align: center;
  background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
}
@media(max-width: 640px) {
  div#welcome-section {
    min-height: 40vh;
  }
}

.profile-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;  
  align-self: center;
}
@media(max-width: 640px) {
  .profile-photo {
    width: 80px;
    height: 80px;
  }
}

.project-tile{
  width: 250px;
  height: 250px;
  padding: 10px;
}
@media(max-width: 1024px) {
  .project-tile {
    width: 200px;
    height: 200px;
  }
}
@media(max-width: 640px) {
  .project-tile {
    width: 82px;
    height: 82px;
  }
}

hr{
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid black;
}

nav { 
  height:37px; 
  margin: auto; 
  margin-top:10px;
  width: 100%;
  align-items: center;
}
@media(max-width: 640px) {
  nav {
    width: 100%;
    margin-left: 0%;
  }
}

nav ul {
  margin-left:140px;
}
@media(max-width: 640px) {
  nav ul {
    width: 100%;
    margin-left: 0%;
  }
}
@media(max-width: 1366px) {
  nav ul {
    margin-left:0%;
  }
}
/* @media(min-width: 1500px) and (max-width: 1920px){
  nav ul {
    margin-left:600px;
  }
} */

nav li {
  border-bottom: 2px solid #506BB1;
  border-radius: 25px; 
  list-style: none; 
  float: left; 
  background: rebeccapurple url(images/right_side.png) no-repeat right top; 
  margin-right: 5px; 
  margin-bottom: 5px; 
  height: 37px;
}

nav a { 
  display: block; 
  padding: 3px; 
  background-image: url(images/left_side.png); 
  background-repeat: no-repeat;
  background-position: left top; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF; 
  font-weight: bold; 
  font-size: 1.2em;
}
@media(max-width: 640px) {
  nav a {
    font-size: 0.7em;
    padding: 10px 1px 1px 1px;
  }
}

nav a:hover {
  color:lime;
}

#active { 
  border-bottom: none; 
  color:navy; 
  list-style: none; 
  float: left; 
  background: #FFF url(images/right_side-pale.png); 
  background-repeat:no-repeat; 
  background-position: right top; 
  margin-right: 5px; 
  height:39px;
}
#active a { 
  display: block; 
  border-bottom:none; 
  padding: 7px 15px 4px 15px; 
  background: url(images/left_side-pale.png); 
  background-repeat: no-repeat; 
  background-position: left top; 
  text-align: center; 
  text-decoration: none; 
  color: navy; 
  font-weight: bold; 
  font-size: 1.2em; 
  text-transform: uppercase; 
  height: 28px;
}
#content { 
  width:900px; 
  border: 2px navy solid; 
  margin:-15px auto 5px auto; 
  border-top:0;
}

figure {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5%;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
    color: green;
}