@import url('https://fonts.googleapis.com/css?family=Cuprum');
@charset "utf-8";

html{
	width: 100%;
}

body{
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  align-self: center;
  background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* On screens that are 1367px wide or less
@media screen and (max-height: 1367px) {
  body {
    height: 100%;  
}  */
@media screen and (max-width: 1367px) {
  body {
    width: 100%;  
} 

h1,h2, p{
	font-family: 'Cuprum';
}

.container{
	padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 60px;
  align-self: center;
  width: 60%
}
/*@media screen and (max-width: 1367px) {
  .container {
    width: 100%;  
}*/

.card{
  box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: center;  
  align-items: right; 
}

.card:hover{
  box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 15%;		
}

.techstack{
	height: 100px;
	width: 100px;
	padding: 10px;
	border-radius: 15%;
	align-items: center;
}

.stacksection, div#projects{
	margin-left: 20px;
}

div#welcome-section, div#projects{
  display: inline-flex;
  position: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.profile-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;  
}

.project-tile{
  width: 250px;
  height: 250px;
  padding: 10px;
}

hr{
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #fffff;
}

nav{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff;
  justify-content:space-around;
  align-items: right;
  position: fixed;
  top: 0;
  width: 60%;
}
nav li{
  display: inline-block;
  padding: 5px;
  color: #000000;
}
.nav-link{
  color: #000000;
}