@import url('https://fonts.googleapis.com/css?family=Cuprum');

body{
  align-items: center;
  align-self: center;
  background: url('../images/spacex.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  padding-left: 200px;
    padding-right: 200px; 
}
@media(max-width: 640px) {
  body {
    background: url('../images/neurons.jpg');
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media(max-width: 1367px) {
  body {
    
  }
}

h1,h2, h3 p{
  font-family: 'Cuprum';
  color: white;
}
@media(max-width: 640px) {
  h1,h2,h3 p {
    font-size: 1.2em;
  }
}

.titles{
  font-size: 3.2em;
  text-decoration: underline; 
}
@media(max-width: 640px) {
  .titles {
    font-size: 1.7em;
  }
}

.emoji{
  font-size: 50px;
}

.container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  margin-bottom: 15px;
  align-self: center;
  width: 90%;
}
@media(min-width: 1367px) {
  .container {
    /* width: 75%;   */
  }
}
@media(max-width: 1024px) {
  .container {
    /* width: 75%;   */
  }
}
@media(max-width: 640px) {
  .container {
    margin-top:25px;
    /* width: 75%;   */
  }
}

div.container.card{
  width: 75%;
}

.card{
  background-color: black;
  box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  opacity: 0.9;
  border-radius: 5px;
  position: center;  
  align-self: center;
  align-items: center; 
}

.card:hover{
  box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  margin: 3px;
  border-radius: 15%; 
  background-color: white;  
  padding: 2px;
}
@media(max-width: 640px) {
  .sociallinks {
    height: 35px;
    width: 35px;
  }
}

.techstack{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  width: 230px;
  height: 230px;
  padding: 10px;
  margin: 10px;
  border-radius: 15%;
  background-color: white;
}
@media(max-width: 1024px) {
  .techstack {
    width: 230px;
    height: 230px;
  }
}
@media(max-width: 640px) {
  .techstack {
    width: 61px;
    height: 61px;
  }
}

.stacksection, div#projects{
  /* align-self: center;
  align-items: center; */
  width: 100%;
}

div#welcome-section{
  top: 0;
  align-items: center;
  text-align: center;
  width: 100%;
}

.profile-photo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
  border-color: lime;
  padding: 5px; 
  margin-bottom: 10px; 
}
@media(max-width: 640px) {
  .profile-photo {
    width: 200px;
    height: 200px;
  }
}

.project-tile{
  width: 225px;
  height: 225px;
  padding: 10px;
}
@media(max-width: 1024px) {
  .project-tile {
    width: 225px;
    height: 225px;
  }
}
@media(max-width: 640px) {
  .project-tile {
    width: 60px;
    height: 60px;
  }
}

#projects {
  width: 100%;
}

#other_interests{
  width: 100%;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#figures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: auto; */
  width: 100%;
}

hr{
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid lime;
  border-bottom: 1px solid black;
}

nav {
  padding: 0px 0;
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

nav ul {
  background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.2) 25%, 
    rgba(255, 255, 255, 0.2) 75%, 
    rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    align-content: center;
    align-items: center;
}
nav ul li {
  display: inline-block;
  align-content: center;
  align-items: center;
}
nav ul li a {
  padding: 10px; 
  color: #FFFFFF;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  display: block;
  align-content: center;
  align-items: center;
}
@media(max-width: 640px) {
  nav ul li a {
    font-size: 0.7em;
    padding: 2px;
    align-content: center;
    align-items: center;
  }
}

#active { 
  border-bottom: none; 
  color:lime;
  list-style: none; 
  float: right; 
  background: #FFF url(images/right_side-pale.png); 
  background-repeat:no-repeat; 
  background-position: right top; 
  /* margin-right: 5px;  */
  height:39px;
}
#active a { 
  display: block; 
  border-bottom:none; 
  padding: 7px 15px 4px 15px; 
  background: url(images/left_side-pale.png); 
  background-repeat: no-repeat; 
  background-position: left top; 
  text-align: center; 
  text-decoration: none; 
  color: lime; 
  font-weight: bold; 
  font-size: 1.2em; 
  text-transform: uppercase; 
  height: 28px;
}
nav a:hover {
  color:lime;
}

#content { 
  width:900px; 
  border: 2px navy solid; 
  margin:-15px auto 5px auto; 
  border-top:0;
}

figure { 
  display: inline-block;
  border: 1px solid black;
  border-radius: 5%;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
}

figure img {  
  vertical-align: top;
}

figure figcaption {
    text-align: center;
    color: rgb(0, 0, 0);
}

.other-project-tile{
  width: 355px;
  height: 355px;
  padding: 10px;
}
@media(max-width: 1024px) {
  .other-project-tile {
    width: 355px;
    height: 355px;
  }
}
@media(max-width: 640px) {
  .other-project-tile {
    width: 100px;
    height: 100px;
  }
}

.black-span {
  background-color: rgb(26, 28, 29);
  color:white; 
  border-radius: 25px; 
  padding: 5px; 
  opacity: 0.8;
}

.skill-span {
  background-color: rgb(26, 28, 29);
  color:white; 
  border-radius: 25px; 
  padding: 5px; 
  margin: 10px;
  opacity: 0.8;
}
