@import url('https://fonts.googleapis.com/css?family=Cuprum');

body{
  align-items: center;
  align-self: center;
  background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2, p{
  font-family: 'Cuprum';
  color: white;
}
@media(max-width: 640px) {
  h1,h2, p {
    font-size: 1.2em;
  }
}

.container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-top: 15px;
  margin-bottom: 15px; */
  align-self: center;
}
@media(min-width: 1367px) {
  .container {
    /* width: 90%;   */
  }
}
@media(max-width: 1024px) {
  .container {
    /* width: 95%;   */
  }
}
@media(max-width: 640px) {
  .container {
    /* width: 95%;   */
  }
}

.card{
  background-color: rebeccapurple;
  box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: center;  
  align-self: center;
  align-items: center; 
}

.card:hover{
  box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  margin: 3px;
  border-radius: 15%; 
  background-color: white;  
}
@media(max-width: 640px) {
  .sociallinks {
    height: 35px;
    width: 35px;
  }
}

.techstack{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 3px;
  border-radius: 15%;
  background-color: white;
}
@media(max-width: 640px) {
  .techstack {
    width: 70px;
    height: 70px;
  }
}

.stacksection, div#projects{
  /* align-self: center;
  align-items: center; */
  width: 100%;
}

div#welcome-section{
  top: 0;
  /* min-height: 40vh; */
  /* padding-top: 45vh; */
  align-items: center;
  text-align: center;
  /* background: url('../images/profile-photo.PNG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px; */
  width: 100%;
}
@media(max-width: 640px) {
  div#welcome-section {
    /* min-height: 10vh; */
  }
}

.profile-photo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid 5px;
  border-color: bisque;
  padding: 5px;  
}
@media(max-width: 640px) {
  .profile-photo {
    width: 200px;
    height: 200px;
  }
}

.project-tile{
  width: 250px;
  height: 250px;
  padding: 10px;
}
@media(max-width: 1024px) {
  .project-tile {
    width: 200px;
    height: 200px;
  }
}
@media(max-width: 640px) {
  .project-tile {
    width: 82px;
    height: 82px;
  }
}

#projects {
  width: 100%;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#figures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.language-container{
  /* display: grid; */
}

#languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

hr{
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid black;
}

nav {
  padding: 20px 0;
  min-width: 500px; 
}
@media(max-width: 640px) {
  nav {
    padding: 20px 0px 0px 0px;
    min-width: 200px; 
  }
}

nav ul {
  background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.2) 25%, 
    rgba(255, 255, 255, 0.2) 75%, 
    rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    align-content: center;
    align-items: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px; 
  color: #FFFFFF;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  display: block;
}
@media(max-width: 640px) {
  nav ul li a {
    font-size: 0.6em;
    padding: 2px;
  }
}

#active { 
  border-bottom: none; 
  color:lime;
  list-style: none; 
  float: right; 
  background: #FFF url(images/right_side-pale.png); 
  background-repeat:no-repeat; 
  background-position: right top; 
  margin-right: 5px; 
  height:39px;
}
#active a { 
  display: block; 
  border-bottom:none; 
  padding: 7px 15px 4px 15px; 
  background: url(images/left_side-pale.png); 
  background-repeat: no-repeat; 
  background-position: left top; 
  text-align: center; 
  text-decoration: none; 
  color: lime; 
  font-weight: bold; 
  font-size: 1.2em; 
  text-transform: uppercase; 
  height: 28px;
}
nav a:hover {
  color:lime;
}

#content { 
  width:900px; 
  border: 2px navy solid; 
  margin:-15px auto 5px auto; 
  border-top:0;
}

figure { 
  display: inline-block;
  border: 1px solid black;
  border-radius: 5%;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
}

figure img {  
  vertical-align: top;
}

figure figcaption {
    text-align: center;
    color: green;
}