@import url('https://fonts.googleapis.com/css?family=Cuprum');
@charset "utf-8";

html{
	width: 100%;
}

body{
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* On screens that are 1367px wide or less */
@media screen and (max-height: 1367px) {
  body {
    height: 100%;  
}
@media screen and (max-width: 1367px) {
  body {
    width: 100%;  
} 

h1,h2, p{
	font-family: 'Cuprum';
}

.container{
	padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 4%;
    /*padding: 10px;*/
    position: center;   
}

.card:hover{
    box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 15%;		
}

.techstack{
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 15%;
	align-items: center;
}

.stacksection{
	margin-left: 20px;
}

hr{
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #fffff;
}

nav{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content:space-around;
    align-items: right;
    margin: 0px;
}
nav li{
    display: inline-block;
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
}

.projectile-tile{
	
}