@import url('https://fonts.googleapis.com/css?family=Cuprum');
@charset "utf-8";

html{
	width: 100%;
}

body{
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  align-self: center;
  background: url('https://github.com/yangaxnkohla/yangaxnkohla.github.io/blob/master/images/lambda_anga.PNG?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* On screens that are 1367px wide or less */
/*@media screen and (max-width: 1367px) {
  body {
    width: 100%;
  }  
} 
 On screens that are 1368px wide or more 
@media screen and (min-width: 1368px) {
  body {
    width: 50%;  
  }
} */

h1,h2, p{
	font-family: 'Cuprum';
  color: green;
}

.container{
	padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 60px;
  align-self: center;
  width: 60%
}
@media screen and (max-width: 1367px) {
  .container {
    width: 90%;  
  }
}
@media screen and (min-width: 1367px) {
  .container {
    width: 40%;  
  }
}

.card{
  background-color: black;
  box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: center;  
  align-items: right; 
}

.card:hover{
  box-shadow: 0.8px 16px 0 rgba(0,0,0,0.2);
}

.sociallinks{
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 15%;	
  background-color: white;	
}

.techstack{
	height: 100px;
	width: 100px;
	padding: 10px;
	border-radius: 15%;
	align-items: center;
  background-color: white;
}

.stacksection, div#projects{
	/*margin-left: 20px;*/
}

div#welcome-section{
  display: inline-flex;
  position: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}

div#projects{
  
}

.profile-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;  
}

.project-tile{
  width: 250px;
  height: 250px;
  padding: 10px;
}

hr{
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid red;
}

nav{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: black;
  justify-content:space-around;
  align-items: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

nav li{
  display: inline-block;
  padding: 5px;
  color: #000000;
}
.nav-link{
  color: #000000;
}

figure {
    display: inline-block;
    border: 1px solid red;
    border-radius: 15%;
    /*margin: 20px;*/ /* adjust as needed */
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    /*border: 1px solid black;*/
    text-align: center;
    color: green;
    /*border-radius: 15%;*/
}